@{
    ViewData["Title"] = "Strona główna";
}

<div class="text-center">
    <h1 class="display-4">Witamy na stronie biblioteki!</h1>
    <p>Przeglądaj książki dostępne na liście książek. Aby wypożyczyć interesujący cię tytuł zaloguj się lub załóż konto czytelnika, jeśli jeszcze go nie masz.</p>
</div>
